body { text-align: center; background: #f1f1f1; }
.gm-wrapper { position: relative; margin: 0 auto; width: 945px; text-align: left; padding: 30px 0px; }
.gm-wrapper.gm-modal-wrap { width: 784px; padding-top: 10px; }
.gm-wrapper h2.gm-title { margin: 0; text-align: center; }
#gm-chapter-links-wrap, ul.gm-chapter-links, ul.gm-chapter-links li,#gm-chapter { background: #ffffff; }
ul.gm-nav { display:none; position: absolute; top: 0; left: 0; list-style-type: none; }
img { width: auto; max-width: 100%; height: auto; }
.gm-chapters-link { display: none; }
#gm-chapter-links-wrap {float: left; display: block; margin: 20px 0; padding: 10px; width: 200px; overflow: hidden; border-right: 1px solid #cccccc; }
ul.gm-chapter-links { margin: 0; -webkit-padding-start: 0; padding-start: 0; font-size: 14px; }
ul.gm-chapter-links li.gm-active a { color: #0062A0; }
ul.gm-chapter-links li a,
ul.gm-chapter-links li.gm-active ul li a { color: #000000; }
ul.gm-chapter-links li a:hover { background: yellow; }
#gm-chapter { float: left; margin: 20px 0; padding: 0 20px; width: 680px; }
div.gm-modal-wrap #gm-chapter{ width: 520px; }
#gm-chapter div { margin-bottom: 40px; }
#gm-chapter table { width: 100%; border: 1px solid #000000; }
#gm-chapter table th { background:#cccccc; }
#gm-chapter table th, #gm-chapter table td { padding: 3px; font-size: 13px; }
#gm-chapter table tr:nth-child(odd) td { background:#f3f3f3; }
#gm-chapter table tr:hover td { background:yellow; }
.gm-note { color: red; }
.gm-how-to-link { position: absolute; top: 10px; left: 20px; }
.gm-other-documents { position: absolute; top: 10px; left: 20px; }
.gm-screen { z-index: 1; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #272727; opacity: .gm-8; }
.gm-modal { z-index: 10; position: absolute; top: 40px; width: 810px; height: 85%; background: transparent; }
.gm-modal iframe { width: 100%; height: 100%; background: #ffffff; }
.gm-screen, .gm-modal {display:none;}
#gm-close-it { z-index: 20; display:none; position: absolute; top: 20px; right: 20px; padding: 2px 5px; font-size: 12px; text-decoration: none; font: verdana, helvetica, arial, sans-serif; border: 1px solid #cccccc; color: #272727; }
#gm-close-it:hover { border-color: #ffffff; }
